<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SGraf.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <SGraf.My.MySettings>
            <setting name="intestazione1" serializeAs="String">
                <value>prima riga intestazione</value>
            </setting>
            <setting name="intestazione2" serializeAs="String">
                <value>seconda riga intestazione</value>
            </setting>
            <setting name="intestazione3" serializeAs="String">
                <value>terza riga intestazione</value>
            </setting>
            <setting name="oggetto" serializeAs="String">
                <value>Indagini relative a....</value>
            </setting>
            <setting name="contenutoDettaglio" serializeAs="String">
                <value>Contiene fotografie di....</value>
            </setting>
            <setting name="autore" serializeAs="String">
                <value>cognome e nome autore</value>
            </setting>
            <setting name="luogo" serializeAs="String">
                <value>comune</value>
            </setting>
            <setting name="gradoCognomeNome" serializeAs="String">
                <value />
            </setting>
            <setting name="carattereDimensioneBase" serializeAs="String">
                <value>11</value>
            </setting>
            <setting name="gruppoFirmaIRiga" serializeAs="String">
                <value>IL COMANDANTE</value>
            </setting>
            <setting name="carattereDimensioneTitoloFoto" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="titoloFoto" serializeAs="String">
                <value>Immagine nr.</value>
            </setting>
            <setting name="bIncorporaImmagini" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="disposizioneColonne" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="disposizioneRighe" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="carattereDimensioneDidascalia" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="fotoLarghezzaCM" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="fotoAltezzaCM" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="tipoFascicolo" serializeAs="String">
                <value>Identificazione</value>
            </setting>
            <setting name="newVersion" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bMemorizzaDidascalia" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="fotoAltezzaTumb" serializeAs="String">
                <value>240</value>
            </setting>
            <setting name="fotoLarghezzaTumb" serializeAs="String">
                <value>320</value>
            </setting>
            <setting name="bEXIFMarca" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="bEXIFModello" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="bEXIFEsposizione" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="bEXIFDiaframma" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="bEXIFDataOra" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="bEXIFFlash" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="bEXIFISO" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="coloreSelezione" serializeAs="String">
                <value>192, 255, 255</value>
            </setting>
            <setting name="trasparenzaImmagine" serializeAs="String">
                <value>-40</value>
            </setting>
            <setting name="bNomeFile" serializeAs="String">
                <value>True</value>
            </setting>
        </SGraf.My.MySettings>
    </userSettings>
</configuration>
